# Paytm Payment Gateway
PAYTM_MID=your_merchant_id_here
PAYTM_MERCHANT_KEY=your_merchant_key_here
PAYTM_WEBSITE=DEFAULT
PAYTM_INDUSTRY_TYPE=Retail
PAYTM_CHANNEL_ID=WEB
NEXT_PUBLIC_APP_URL=https://logisaar.com
VITE_PAYTM_MID=your_merchant_id_here
